:root {
  --font-size: 16px;
}

@layer base {
  * {
    @apply border-gray-800;
  }

  html {
    font-size: var(--font-size);
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }

  body {
    @apply bg-gray-950 text-white antialiased;
    margin: 0;
    padding: 0;
  }
}
